<div
  class="container"
  fxLayout
  fxLayout.xs="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="20%" fxFlexOrder="1">
    <md-input-container>
      <input
        mdInput
        [mdDatepicker]="pickerInit"
        placeholder="Fecha de inicio"
        [min]="minDate"
        [max]="maxDate"
        [value]=defaultDateStart
        [(ngModel)]=fecha
        [name]="init"
        required
        #init="ngModel">
      <button mdSuffix [mdDatepickerToggle]="pickerInit"></button>
    </md-input-container>
    <md-datepicker #pickerInit></md-datepicker>
  </div>
  <div class="item item-2" fxFlex="23%" fxFlexOrder="2">
    <app-filter type_d="Fecha de termino" [value]=defaultDateEnd></app-filter>
  </div>
  <div class="item item-3" fxFlex="62%" fxFlexOrder="3">
    <app-selection></app-selection>
  </div>
</div>
