<div class="example-container mat-elevation-z8">

  <md-table
    #table
    [dataSource]="dataSource"
    mdSort
    mdSortActive="date"
    mdSortDirection="des">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Foto Column -->
    <ng-container cdkColumnDef="foto">
      <md-header-cell *cdkHeaderCellDef>
        <h3>Foto</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <a (click)="
          gotoDetail(row)"><img [src]=row.foto|dataTableDetail id="imagen_" border="2"></a>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="obra">
      <md-header-cell *cdkHeaderCellDef>
        <h3>Obra</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row" class="font">{{ row.obra }}</md-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container cdkColumnDef="st">
      <md-header-cell *cdkHeaderCellDef>
        <h3>ST</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row" class="font">{{ row.st }}</md-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container cdkColumnDef="folio">
      <md-header-cell *cdkHeaderCellDef>
        <h3>Folio</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row" class="font">{{ row.folio }}</md-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container cdkColumnDef="profesional">
      <md-header-cell *cdkHeaderCellDef>
        <h3>Profesional</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row" class="font">{{ row.profesional }}</md-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container cdkColumnDef="date">
      <md-header-cell *cdkHeaderCellDef>
        <h3>
          Fecha y Hora de Captura</h3>
      </md-header-cell>
      <md-cell *cdkCellDef="let row" class="font">{{row.date | date:'dd/MM/yyyy - HH:mm:ss'}}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <div
    class="example-no-results"
    [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No hay coincidencias con su búsqueda.
  </div>

  <md-paginator
    #paginator
    [length]="dataSource.filteredData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"></md-paginator>
</div>
