<div
  class="font"
  layout="row"
  layout-margin
  layout-wrap
  layout-align="center center">
  <md-card flex="100" class="md-card-dashboard">
    <md-card-title class="font">Buscador de Imágenes
    </md-card-title>
    <md-card-subtitle class="font">FILTROS</md-card-subtitle >
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <md-card>
        <div
          class="container"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <div class="item item-1" fxFlex="90%" fxFlexOrder="1">
            <div
              class="container"
              fxLayout
              fxLayout.xs="row"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              fxLayoutGap.xs="0">

              <div class="item item-1" fxFlex="20%" fxFlexOrder="1">
                <md-input-container class="font">
                  <input
                    mdInput
                    [mdDatepicker]="pickerInit"
                    placeholder="Fecha Inicial"
                    [min]="minDate"
                    [max]="maxDate"
                    [value]="10-2-2017"
                    name="init"
                    #init="ngModel"
                    ngModel>
                  <button mdSuffix [mdDatepickerToggle]="pickerInit"></button>
                </md-input-container>
                <md-datepicker #pickerInit></md-datepicker>
              </div>
              <div class="item item-2" fxFlex="23%" fxFlexOrder="2">
                <md-input-container class="font">
                  <input
                    mdInput
                    [mdDatepicker]="pickerEnd"
                    placeholder="Fecha Final"
                    [min]="minDate"
                    [max]="maxDate"
                    name="end"
                    ngModel>
                  <button mdSuffix [mdDatepickerToggle]="pickerEnd"></button>
                </md-input-container>
                <md-datepicker #pickerEnd></md-datepicker>
              </div>
              <div class="item item-3" fxFlex="62%" fxFlexOrder="3">
                <div
                  class="container"
                  fxLayout
                  fxLayout.xs="row"
                  fxLayoutAlign="center"
                  fxLayoutGap="20px"
                  fxLayoutGap.xs="0">
                  <div class="item item-1" fxFlex="20%" fxFlexOrder="1">
                    <md-select
                      class="font"
                      placeholder="Obra"
                      [(ngModel)]="selectedObra"
                      name="obra">
                      <md-option class="font" *ngFor="let obra of obras" [value]="obra.value">
                        {{obra.viewSelect}}
                      </md-option>
                    </md-select>
                  </div>
                  <div class="item item-2" fxFlex="30%" fxFlexOrder="2">
                    <md-select class="font" placeholder="ST" [(ngModel)]="selectedST" name="st">
                      <md-option class="font" *ngFor="let st of sts" [value]="st.value">
                        {{st.viewSelect}}
                      </md-option>
                    </md-select>
                  </div>
                  <div class="item item-3" fxFlex="30%" fxFlexOrder="3">
                    <md-select
                      class="font"
                      placeholder="Folio"
                      [(ngModel)]="selectedFolio"
                      name="folio">
                      <md-option class="font" *ngFor="let folio of folios" [value]="folio.value">
                        {{folio.viewSelect}}
                      </md-option>
                    </md-select>
                  </div>
                  <div class="item item-4" fxFlex="30%" fxFlexOrder="4">
                    <md-select
                      class="font"
                      placeholder="Profesional"
                      [(ngModel)]="selectedProfesional"
                      name="profesional">
                      <md-option
                        class="font"
                        *ngFor="let profesional of profesionales"
                        [value]="profesional.value">
                        {{profesional.viewSelect}}
                      </md-option>
                    </md-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-2" fxFlex="10%" fxFlexOrder="2">
            <button class="font1" md-raised-button>Buscar</button>
          </div>
        </div>
      </md-card>
    </form>
    <md-card-content style="overflow:auto">
      <md-card
        style="background-color:rgba(176,224,230,0.2);margin:30px 30px;padding:30px 30px;overflow: auto;">
        <md-card-title class="font">Resultados</md-card-title>
        <app-data-table [start]=defaultDateStart [end]=defaultDateEnd *ngIf=!active>
          Loading data-table...
        </app-data-table>
        <app-data-table
          *ngIf=active
          [start]=start
          [end]=end
          [obra]=obra
          [st]=st
          [folio]=folio
          [profesional]=profesional>
          Loading data-table...
        </app-data-table>
      </md-card>
    </md-card-content>
    <md-card-footer style="text-align:center;margin-bottom:1%">© 2017</md-card-footer>
  </md-card>
</div>
