<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="100%">
    <button (click)="goBack()">Volver</button>
    <md-card>
      <md-card-title>Fotografía</md-card-title>
      <md-card-content style="background-color:red">
        <md-card>
          <div
            fxLayout
            fxLayoutAlign="center center"
            style="background-color:rgba(203,224,253,0.3);max-width:600px;max-height:300px">
            <img style="float:center;width:100%; height:100%;" src={{foto}}/>
          </div>

          <div *ngIf=lat>
            lat:{{lat}}
            lng:{{lng}}
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng">Loading map...</agm-marker>
            </agm-map>
          </div>
        </md-card>
      </md-card-content>
    </md-card>
  </div>
</div>
