<div
  class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="100%">
    <button (click)="goBack()" class="font1">Volver</button>
    <md-card>
      <md-card-content>
        <div
          class="container"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <div class="item item-1" fxFlexOffset="10%" fxFlex="30%" fxFlexOrder="1">
            <md-list>
              <md-card-title class="font">Información</md-card-title>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>Obra</h4>
                <p md-line>
                  {{obra}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>ST</h4>
                <p md-line>
                  {{st}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>Folio</h4>
                <p md-line>
                  {{folio}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>Profesional</h4>
                <p md-line>
                  {{profesional}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>Comentarios</h4>
                <p md-line>
                  {{note}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <md-icon md-list-icon>label</md-icon>
                <h4 md-line>Teléfono que envió</h4>
                <p md-line>
                  {{phone}}
                </p>
              </md-list-item>
            </md-list>
          </div>
          <div class="item item-3" fxFlex="5%" fxFlexOrder="2"></div>
          <div class="item item-2" fxFlex="55%" fxFlexOrder="3">
            <md-card-title class="font">Ubicación</md-card-title>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </md-card-content>

      <md-card-content style="padding-top:3%">
        <md-card>
          <md-card-title class="font">Fotografía</md-card-title>
          <div
            fxLayout
            fxLayoutAlign="center center"
            style="background-color:rgba(203,224,253,0.01);max-width:600px;max-height:500px">
            <img
              style="float:center;width:100%; height:100%; max-height:80%; max-width:80%"
              [src]=foto|dataTableDetail/>
          </div>
        </md-card>
      </md-card-content>
    </md-card>
  </div>
</div>
