button {
  margin-top: 1%;
  font-size: 120%;
  background-color: #E0F2F7;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: 'Open Sans Condensed', serif;
  margin-bottom: 1%;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

agm-map {
  align-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
}
#map {
    height: 100%;
}

h4,p,.font {
  font-family: 'Open Sans Condensed', serif;

}
